<%provide(:title, 'Contact Us')%>

    <h1>Contact Us</h1>
    <p>
      Thanks for using <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
      Please contact us at aabbcc@abc.com.
    </p>
